# Configuración de base de datos para LocalDB (Autenticación de Windows)
DB_SERVER=(localdb)\MSSQLLocalDB
DB_PORT=
DB_NAME=companias_db
DB_DRIVER=ODBC Driver 17 for SQL Server
DB_TRUSTED_CONNECTION=True
DB_USER=
DB_PASSWORD=
